.react-multi-carousel-list{
    margin: 0 0 2rem;
    height: 180px;
   
}
.react-multi-carousel-track{
    text-align: center; 
    display: grid;
    place-items: center;
    height: 50%;

    h6{
        width: 100%;
    }

    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.clientItem{
    padding: 0 3rem;
}