.react-multi-carousel-list{
    margin: 0 0 2rem;
    height: 150px;
   
}


.clientItem{
    
    display: grid;
    align-items: center;
    height: 100%;
}

img{
    width: 100%;
    height: 40%;
    object-fit: scale-down;
    object-position: center;
}