.title{
   padding-top: 2rem;
   padding-bottom: 2rem;
    background-color: inherit;
    color: inherit;

    h1{
        font-size: 3rem;
        padding-bottom: .3rem;
        border-bottom: .8rem solid var(--primaryColor);
        width: fit-content;
        border-radius: 10px;
    }

    
}

@media screen and (min-width: 768px){
    .title{
        margin: 2rem 0;
       
        h1{
            font-size: 4rem;
            padding-top: 2rem;
        }
    }
}
    
