footer{
    background-color: var(--black);
    color: var(--white);
    position: relative;
    margin-bottom: -1rem;
    padding: 1.5rem 0 .5rem;

    .logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
        font-size: 1.2rem;
        font-weight: bold;

        img{
            width: 55px;  
           margin-right: .5rem;
        }
    }

    .social{
        .socialContainer{
            margin-bottom: .8rem;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;


             .icon{
                color: var(--white);
                margin-right: 1rem;
                display: grid;
                place-items: center;
                transition: .5s;
                cursor: pointer;

                span{
                    font-size: 1.7rem;
                    
                }

                
            }  

         
            .icon:hover{
                color: var(--primaryColor);
            }
        
            h3{
                font-size: 1.2rem;
                color: var(--primaryColor);
                font-weight: 400;
                margin-bottom: .2rem;
            }

            p{
                font-size: .8rem;
                margin: 0;
                font-weight: 400;
            }
        }
     
    } 

    

}

.footer{
        padding: 1.5rem 0;
        font-size: .8rem;
        text-align: center;

        span{
            color: var(--secondaryColor);
        }
    }